@import "../utils//colors";

.links {
  list-style: none;
  font-size: 30px;
  margin: 0px;
  text-decoration: none;
  a {
    color: $fourth-color;
    background-image: none;
  }
  a:hover {
    color: $primary-color;
  }
}
