@import "../utils//colors";

.socialIcon {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 1.3rem;
  margin: 0px;
  text-decoration: none;
  justify-content: center;
  li {
    transition: 0.2s ease-in-out;
  }
  li:hover {
    transform: scale(1.5);
  }
  a {
    margin: 10px;
    color: $fourth-color;
    background-image: none;
    transition: 0.2s ease-in-out;
  }
  a:hover {
    color: $primary-color;
  }
}
