@import "../utils/colors";

.header__line {
  background-color: $third-color;
  height: 5px;
}

.header__logo {
  display: flex;
  justify-content: center;
  img {
    height: 10vh;
    margin: 0;
  }
}

.header__menuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 100%;

  button {
    background: inherit;
    border: 0px;
    margin: 0px;
    padding: 0px;
  }
}
.header__contact {
  font-size: 0.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__mobileMenu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: $secondary-color;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $fourth-color;
}

.header__mobileMenu-logo {
  width: 40%;
}
.header__mobileMenu-contact {
  font-size: 1.5rem;
}
.header__mobileMenu-closeButton {
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 30px;
  button {
    background: inherit;
    border: 0px;
    margin: 0px;
    padding: 0px;
    color: $fourth-color;
  }
}
